@charset "EUC-KR";


.table_div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.table_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

