@charset "EUC-KR";


.admin_div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.table_title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

