@charset "UTF-8";


.super_div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pd_title{
	justify-content: center;
	align-items: center;
}

.pd_margin{
	margin: 3px 10px;
	padding: 0px 20px;
}

.detail_margin{
	margin: 30px 10px;
	
}

img{
	vertical-align: bottom;
	float: left;
	margin: 0;
	padding: 0;
	line-height: 0;
    cellpadding: 0px;
    cellspacing : 0px;
}

.pd_img{
	margin: 30px 10px;
}