@charset "UTF-8";
.product-detail-form{
  display: flex;
  justify-content: center;
  align-items: center;
}


.big_pd_div {
  height: 500px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -100px 0px;
}

.img_pd_div {
  display: inline-block;
}

.pd_img_src {
  height: 400px;
  width: 450px;
}

.pd_info {
  display: inline-block;
  margin: 0px 30px;
}

.pd_name{
	padding: 10px;
}

img{
	vertical-align: bottom;
	float: left;
	margin: 0;
	padding: 0;
	line-height: 0;
    cellpadding: 0px;
    cellspacing : 0px;
}

.super_div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pd_title{
	justify-content: center;
	align-items: center;
}

.pd_margin{
	margin: 3px 10px;
	padding: 0px 20px;
}

.detail_margin{
	margin: 30px 10px;
}

.pd_img{
	margin: 30px 10px;
}

.pd_detail{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}