@charset "UTF-8";
table {
    border-spacing: 0px;
    border-style: none;
    cellpadding: 0px;
    cellspacing : 0px;
    padding: 0px;
    border: 0px;
}
    
td {
    border-spacing: 0px;
    border-style: none;
    padding: 10px;
}


.product-detail-box{
	display: flex;
	justify-content: center;
	align-items: center;	
}


.product-name_product-detail{
	font-size: 30px;
	font-weight: bold;
	padding: -1000px 0px 0px 0px;
	
}

.product-detail-table{
	border:1px solid black;
}

.product-detail-table-tr{
	border:1px solid black;
}

.product-detail-table-td{
	border:1px solid black;
}

.put-in-the-cart{
	justify-content: center;
	align-items: center;
}

.DetailDetail{
	padding: 100px 0px ; 
}

img{
	vertical-align: bottom;
	float: left;
	margin: 0;
	padding: 0;
	line-height: 0;
    cellpadding: 0px;
    cellspacing : 0px;
}