@charset "EUC-KR";

.footer{
	margin-top: 100px;
	margin-bottom: 30px;
}
.copyright{
	display: flex;
	justify-content: center;
}
.span_admin{
	display: inline-block;
	justify-content:flex-end;
	align-items: center;
}

.btn_admin{
	border: none;
	background-color: white;
}